<div class="article">
	<div class="date">
		<p class="p_date"><%- item.date.format(theme.date_format) %></p>
	</div>
	<div class="title">
		<a href="<%- config.root %><%- item.path %>" class="a_title"><%- item.title || theme.default_post_title || "Untitled" %></a>
	</div>
	<div class="des">
		<%- item.excerpt %>
	</div>
</div>