<div class="page">
    <% if (page.prev){ %>
        <a href="<%- config.root %><%- page.prev_link %>"><%- __('过往 >')%></a>
    <% } %>
    <% if (page.next){ %>
        <a href="<%- config.root %><%- page.next_link %>"><%- __('< 如今')%></a>
    <% } %>
</div>